.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li {
  text-align: left;
  margin-left: 20px; /* Adjust the margin as needed */
  padding-left: 20px; /* Adjust the padding as needed */
}

.custom-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 0;
}

